/.venv
/.vscode
/anime_hf
/basque_hfest
/c-prog-hfest
/cpphf
/EMS_clg
/Event-Management-System-EMS-
/fds
/game_1
/GitHub
/halo_hacktoberfest
/Hands_on
/Hostel_Management_System
/Journey_For_Memes
/library_hf
/lms_app
/Memes_For_Adventures
/Moviehf
/One_hfest
/profileCard_hf
/Saving_pico
/smu
/smuhf
/test
/web